<h1 class='d-flex align-items-center justify-content-center'>Iniciar Sesión</h1>
<div class='container d-flex flex-direction-column flex-wrap justify-content-center'>
    <form method="post" action="/login" >
   
    <img src="/public/img/login.jpg" class="arrow" alt="">
    <input placeholder="Email" name="username" />
    <input placeholder="Password" name="password" type="password" />
        <button  type="submit">Log in</button>
    </form>
        <a href='./signup' class="link-login" >Sign up</a>

</div>