<h2>Logout success!</h2>
<img src="/public/img/logout.png" class="arrow" alt="success!">
<p>Vuelve pronto</p>
<p> <strong class="capitalize">{{user.username}}</strong> </p>

<div class='container d-flex flex-direction-column flex-wrap justify-content-center'>


</div>
<script>
    const timer = () => {
  setTimeout(() => {
    document.location.href = '/login'
  }, 2000);
    }
    timer()
</script>